body{
	margin: 0;
}
*{
	font: 14px/1.5em Arial, sans-serif;
}
.page{
	display: none;
	max-width: 400px;
	margin: 0 auto;
}
.page p{
	text-align: justify;
}
.page[data-target="true"]{
	display: block;
}
header{
	margin-bottom: 20px;
	padding-top: 20px;
}
h1,h2{
	margin: 0;
}
header h1{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-variant: small-caps;
}
button{
	border: none;
	background: none;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}
fildset{
	border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-bottom: 0;
}
dl{
	width: 100%;
	max-width: 400px;
}
dt{
  font-weight: bold;
	text-align: center;
	padding: 10px 0;
	background: #8b8a8a;
	color: #fff;
	border-radius: 3px;
}
dd{
	text-align: justify;
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  background: #efefef;
}
#authorization button{
	width: 100%;
	text-align: center;
}